@font-face {
    font-family: 'vice_city_sansregular';
    src: url('font/Vicecitysans/vicecitysans-webfont.woff2') format('woff2'),
         url('font/Vicecitysans/vicecitysans-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    background-image: transparent;
}

.container-index{
    width: 600px;
    height: 400px;
    margin: auto;
    margin-top: 300px;
    border: 0.5px solid black;
    background-color: rgba(102, 100, 100, 0.185);
    display: flex;
    justify-content: center;
    align-items: center;
}

#input{
    width: 160px;
    height: 40px;
}

.search{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
#valider{
    border: none;
    background-color: yellow;
    height: 50px;
    border-radius: 20px;
    font-family: 'vice_city_sansregular';
    border-radius: 30px;    
    font-size: 20px;
    padding: 5px 20px 5px 20px;
    width: 200px;
    font-size: 20px;
    margin-bottom: 20px;
}

